html, body {
    background-color: black;
    font-family: 'VT323', monospace;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}

canvas {
    overflow: hidden;
    position: absolute;
    width: 100vw;
    z-index: 2;
}

#force-keyboard {
    caret-color: transparent;
    visibility: hidden;
    margin: 0px;
    padding: 0px;
    position: absolute;
    z-index: 1;
}
